.controls {
  padding: 10px 0;
}

th, td {
  text-align: center !important;
}

button {
  margin-right: 10px;
}

.controlsLeft {
  text-align: left;
}

.controlsRight {
  text-align: right;
}

.flag {
  border: 1px solid #D9D9D9;
  background-size: cover;
}
