.controls {
  padding: 10px 0;
}

th,
td {
  text-align: center !important;
}

.upload {
  margin-left: 10px;
}

.controlsLeft {
  text-align: left;
}

.controlsRight {
  text-align: right;
}

.flag {
  border: 1px solid #d9d9d9;
  background-size: cover;
}
