.edit {
  border: 1px solid var(--field-border-color);
  border-radius: 4px;
  line-height: 1.5 !important;
}

.preview {
  border: 1px solid var(--field-border-color);
  border-radius: 4px;
  height: 302px;
  overflow-y: scroll;
  padding: 24px;
}
